{% extends "layout.html" %}
{% load static %}

{% block title %}
  {{ page_title }} | {{ block.super }}
{% endblock title %}

{% block header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url({% static 'core_blog/img/about-bg.jpg' %})">

      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Us</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock header %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
      <div class="row justify-content-around">

          <div class="shadow col-xs-2 mb-3">
            <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US"  data-type="vertical" data-theme="dark" data-vanity="karansthr"><a class="LI-simple-link" href='https://in.linkedin.com/in/karansthr?trk=profile-badge'>Karan Suthar</a>
            </div>
          </div>

          <div class="shadow col-xs-2 mb-3">
            <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="mohi7solanki"><a class="LI-simple-link" href='https://in.linkedin.com/in/mohi7solanki?trk=profile-badge'>Mohit Solanki</a>
            </div>
          </div>
      </div>
    </div>
{% endblock content %}


{% block js %}
  <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js"></script>
{% endblock js %}


