{% extends "layout.html" %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% for post in posts %}
              <div class="post-preview">
                <a href="{{ post.get_absolute_url }}">
                  <h2 class="post-title">
                    {{ post.title }}
                  </h2>
                    <h6 class="post-subtitle">
                      {% if post.in_future %}
                        <span style="color: orange">future Post</span>
                      {% endif %}
                  </h6>
                  <h3 class="post-subtitle">
                    {{ post.description }}
                  </h3>
                </a>
                <p class="post-meta">Posted by
                  <a href="#">{{ post.writer|capfirst }}</a>
                   on {{ post.publish|date:'F d, Y' }}
                   {% if post.draft  %}
                        <span style="color: red">Draft</span>
                   {% endif %}
                   {% if user.is_superuser or user == post.writer %}
                     &nbsp;<a href="{% url 'blog:post_update' post.slug %}">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                      </a>
                   {% endif %}
                 </p>
              </div>
              <br><hr><br>
          {% endfor %}
          <!-- Pager -->
          <div class="d-flex justify-content-between">
            {% if is_paginated %}
              {% if page_obj.has_previous %}
                  <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">Newer Posts &larr;</a>
              {% endif %}
              {% if page_obj.has_next %}
                  <a class="btn btn-primary ml-auto" href="?page={{ page_obj.next_page_number }}">Older Posts &rarr;</a>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>

{% endblock content %}
