{% extends "core_blog/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
    <style type="text/css">
        .asteriskField {
            display: none;
        }
    </style>
{% endblock css %}

{% block content %}


<div class="row h-100 justify-content-center align-items-center">
    <form  method="post" action='' enctype="multipart/form-data">
        {% csrf_token %}    {{ form.media }}
        {{ form| crispy }}
        <input type="submit" value="Save" />
    </form>
</div>
{% endblock content %}

{% block js %}

{% endblock js %}
