{% extends "core_blog/layout.html" %}
{% load static %}

{% block header %}
  <!-- Page Header -->
    <header class="masthead" style="background-color:cyan; )">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
              <h2 class="subheading">{{ post.description }}</h2>
              <span class="meta">Posted by
                <a href="#">{{ post.author|capfirst }}</a>
                on {{ post.created_at|date:'F d, Y' }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock header %}

{% block content %}
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.content | safe }}
          </div>
        </div>
      </div>
    </article>
{% endblock content %}
