{% extends "layout.html" %}
{% load static %}
{% load disqus_tags %}

{% block title %}
  {{ page_title }} | {{ block.super }}
{% endblock title %}

{% block header %}
  <!-- Page Header -->
    <header class="masthead" style="background-color:cyan; )">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
              <h6 class="post-subtitle">
                {% if post.in_future %}
                  <span style="color: orange">future Post</span>
                {% endif %}
              <h2 class="subheading">{{ post.description }}</h2>
              <span class="meta">Posted by
                <a href="#">{{ post.author|capfirst }}</a>
                on {{ post.publish|date:'F d, Y' }}
                {% if post.draft  %}
                  <span style="color: red">Draft</span>
                {% endif %}
                {% if user.is_superuser or user.username == post.author__username %}
                     &nbsp;<a href="{% url 'blog:post_update' post.slug %}">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                      </a>
                {% endif %}
              </h6>
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock header %}

{% block content %}
    <article>
      <div class="container">
        <div class="row">
          <div class="post_detail col-lg-8 col-md-10 mx-auto">
            {{ post.content | safe }}
            {% disqus_show_comments %}
          </div>
        </div>
      </div>
    </article>

{% endblock content %}
