{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
  {{ page_title }} - {{ block.super }}
{% endblock title %}

{% block css %}
    <style type="text/css">
        .asteriskField {
            display: none;
        }
    </style>
{% endblock css %}

{% block content %}
<div class="container">
    <form  method="post" action='' enctype="multipart/form-data">
        {% csrf_token %}    {{ form.media }}
        {{ form| crispy }}
        <button type="submit" class="btn btn-success">Save</button>
        {% if update_page %}
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
        {% endif %}
    </form>
</div>
{% if update_page %}
    {% include 'core_blog/blocks/confirm_modal.html' %}
{% endif %}

{% endblock content %}

