{% extends "layout.html" %}
{% load static %}
{% load disqus_tags %}

{% block title %}
  {{ page_title }} | {{ block.super }}
{% endblock title %}

{% block seo_tags %}
    <meta name="title" content="{{ page_title }}" >
    <meta name="description" content="{{ post.description }}" >
    <meta name="keywords" content="python" >
    <meta name="author" content="{{ post.author__username }}">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="3 days">
    <!-- python,linux,FOSS -->
    <!-- For Facebook -->
    <meta property="og:title" content="Fosstack Blog" />
    <meta property="og:type" content="article" />
<!--       <meta property="og:image" content="" /> -->
    <meta property="og:url" content="{{ post.get_absolute_url }}" />
    <meta property="og:description" content="{{ post.description }}" />
    <!-- For Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ post.title }}" />
    <meta name="twitter:description" content="{{ post.description }}" />
<!--       <meta name="twitter:image" content="{{ post.cover_photo.url }}" />-->
 {% endblock %}


{% block header %}

  <!-- Page Header -->
    <header class="masthead" style="background-color:cyan; )">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
              <h6 class="post-subtitle">
                {% if not post.is_published %}
                  <span style="color: orange">future Post</span>
                {% endif %}
              <h2 class="subheading">{{ post.description }}</h2>
              <span class="meta">Posted by
                <a href="#">{{ post.author.first_name|capfirst }}</a>
                on {{ post.publish|date:'F d, Y' }}&nbsp;&nbsp;
                <span id="hits" style="display:inline-block"> <i class="fa fa-eye" aria-hidden="true"></i> {{ post.view_count }} views</span>
                {% if post.draft  %}
                  <span style="color: red">Draft</span>
                {% endif %}
                {% if user.is_superuser or user.username == post.author__username %}
                     &nbsp;<a href="{% url 'blog:post_update' post.slug %}">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                      </a>
                {% endif %}
              </h6>
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock header %}

{% block content %}
    <article>
      <div class="container">
        <div class="row">
          <div class="post_detail col-lg-8 col-md-10 mx-auto">
            {{ post.content | safe }}
            {% include "core_blog/blocks/social.html" %}
            {% disqus_show_comments %}
          </div>
        </div>
      </div>
    </article>

{% endblock content %}
