{% extends "core_blog/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
    <style type="text/css">
        .asteriskField {
            display: none;
        }
    </style>
{% endblock css %}

{% block content %}


<div class="row h-100 justify-content-center align-items-center">
    <form  method="post" action='' enctype="multipart/form-data">
        {% csrf_token %}    {{ form.media }}
        {{ form| crispy }}
        <button type="submit" class="btn btn-success">Save</button>
        {% if update_page %}
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
        {% endif    %}
    </form>
</div>


{% include 'core_blog/blocks/confirm_modal.html' %}

{% endblock content %}

{% block js %}

{% endblock js %}
